<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.open.custom.api.app.mapper.extend.OpenAppInfoExtendMapper">
    <resultMap id="BaseResultMap" type="com.open.custom.api.app.model.OpenAppInfo" >
        <id column="ID" property="id" jdbcType="INTEGER" />
        <result column="APP_CODE" property="appCode" jdbcType="VARCHAR" />
        <result column="APP_SECRET" property="appSecret" jdbcType="VARCHAR" />
        <result column="APP_NAME" property="appName" jdbcType="VARCHAR" />
        <result column="APP_DESC" property="appDesc" jdbcType="VARCHAR" />
        <result column="APP_URL" property="appUrl" jdbcType="VARCHAR" />
        <result column="EMAIL" property="email" jdbcType="VARCHAR" />
        <result column="STATE" property="state" jdbcType="INTEGER" />
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    </resultMap>


    <sql id="Base_Column_List" >
    ID, APP_CODE, APP_SECRET, APP_NAME, APP_DESC, APP_URL, EMAIL, STATE, CREATE_DATE,
    UPDATE_DATE, REMARK
  </sql>


    <select id="checkAppExist" parameterType="java.lang.String" resultType="java.lang.Integer">
        select
        count(1)
        from OPEN_APP_INFO
        where 1=1
        AND STATE = 1
        AND APP_CODE = #{appCode, jdbcType=VARCHAR}
    </select>


</mapper>