<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.open.custom.api.mapper.extend.OpenUserInfoExtendMapper">
    <resultMap id="BaseResultMap" type="com.open.custom.api.model.OpenUserInfo">
        <id column="ID" property="id" jdbcType="INTEGER" />
        <result column="USER_CODE" property="userCode" jdbcType="VARCHAR" />
        <result column="APP_CODE" property="appCode" jdbcType="VARCHAR" />
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
        <result column="PASS_WORD" property="passWord" jdbcType="VARCHAR" />
        <result column="EMAIL" property="email" jdbcType="VARCHAR" />
        <result column="NICK_NAME" property="nickName" jdbcType="VARCHAR" />
        <result column="BIRTHDAY" property="birthday" jdbcType="DATE" />
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="STATE" property="state" jdbcType="INTEGER" />
        <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    </resultMap>


    <sql id="Base_Column_List" >
    ID, USER_CODE, APP_CODE, USER_NAME, PASS_WORD, EMAIL, NICK_NAME, BIRTHDAY, CREATE_DATE,
    UPDATE_DATE, STATE, REMARK
  </sql>


<!--    <select id="checkUserExist" parameterType="java.lang.String" resultType="java.lang.Integer">-->
<!--        select-->
<!--        count(1)-->
<!--        from OPEN_USER_INFO-->
<!--        where 1=1-->
<!--        AND STATE = 1-->
<!--        AND APP_CODE = #{appCode, jdbcType=VARCHAR}-->
<!--        AND (USER_NAME = #{account, jdbcType=VARCHAR} or EMAIL = #{account, jdbcType=VARCHAR})-->
<!--    </select>-->

    <select id="checkUserExist" parameterType="java.lang.String" resultType="java.lang.Integer">
        select
        count(1)
        from OPEN_USER_INFO
        where 1=1
        AND STATE = 1
        AND APP_CODE = #{appCode, jdbcType=VARCHAR}
        AND (USER_NAME = #{account, jdbcType=VARCHAR} or EMAIL = #{account, jdbcType=VARCHAR})
    </select>

    <select id="login" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from OPEN_USER_INFO
        where 1 = 1
        AND STATE = 1
        AND APP_CODE = #{appCode, jdbcType=VARCHAR}
        AND (USER_NAME = #{account, jdbcType=VARCHAR} or EMAIL = #{account, jdbcType=VARCHAR})
    </select>

    <select id="getUserByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from OPEN_USER_INFO
        where 1 = 1
        AND STATE = 1
        AND USER_CODE = #{userCode, jdbcType=VARCHAR}
    </select>

</mapper>